* {
    margin: 0;
    padding: 0;
}

body {
    background: #70e1f5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #ffd194, #70e1f5);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #ffd194, #70e1f5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;

}

.shadow-box {
    -webkit-box-shadow: 18px 21px 78px -43px rgba(0,0,0,0.68);
    -moz-box-shadow: 18px 21px 78px -43px rgba(0,0,0,0.68);
    box-shadow: 18px 21px 78px -43px rgba(0,0,0,0.68);
    border-radius: 10px;
}

.inbox {
    -webkit-box-shadow: inset -1px 2px 18px -5px rgba(0,0,0,0.43);
    -moz-box-shadow: inset -1px 2px 18px -5px rgba(0,0,0,0.43);
    box-shadow: inset -1px 2px 18px -5px rgba(0,0,0,0.43);
}

/* ACCUEIL */

#main-title {
    font-size: 2em;
    font-family: Verdana, sans-serif;
    text-align: center;
    margin-top: 4em;
    color: #fff;
    margin-bottom: 100px;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
}

.main-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 3rem;
    background-color: white;
    border-radius: 10px;
    width: 500px;
    height: 250px;
    margin: 0 auto;
    text-decoration: none;
    color: black;
}

.main-selector:hover {
  box-shadow: none;
}

/* PREFERENCES */

.pref-div {
    position: relative;
    width: 600px;
    height: 700px;
    background-color: white;
    border-radius: 10px;
}

.btn-back{
    position: absolute;
    left: -70px;
    display: inline-block;
    text-decoration: none;
    background: #3aa2b5;
    color: #FFF;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 35px;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    transition: .4s;
  }
  
  .btn-back:hover{
      background: #3aa2b5;
  }

  /* MEETING */

  .main-meeting {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    display: grid;
    grid-template-columns: auto 250px;
    grid-template-rows: auto 200px;
    column-gap: 10px;
    row-gap: 10px;
    position: relative;
    width: 1000px;
    height: 700px;
    padding: 10px 10px;
    background-color: rgba(255, 255, 255, 0);
    border-radius: 10px;
  }

  .map {
    background-color: white;
    border-radius: 10px;
  }

  .recap {
    background-color: white;
    padding: 15px;
    color: rgba(0, 0, 0, 0.515);
    font-weight: bold;
  }

  .important-choices {
    padding: 15px;
    background-color: white;
    color: rgba(0, 0, 0, 0.515);
    font-weight: bold;
    height: max-content;

  }

  hr {
    width: 80%; 
    margin-top: 3px;
  }

.mapboxgl-popup {
    max-width: 400px;
    font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
    color: rgba(0,0,0,0.68);
  }

  .avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
  }

  .slider-container {
    width: 100%;
  }

  .slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */
  height: 25px; /* Slider handle height */
  background: #4CAF50; /* Green background */
  cursor: pointer; /* Cursor on hover */
  border-radius: 50%;
}

.checkbox-container {
  width: 100%;
}

.compare-button {
  border-radius: 10px;
  background-color: #1d7691;
  color: white;
  width: 140px;
  height: 25px;
  margin-top: 5px;
  border: none;
}

.compare-button:hover {
  cursor: pointer;
  opacity: 0.9;
}

.compare-button:active {
  border: none;
}

/* Colorblind switch */

.label-color {
  position: absolute;
  top: 100px;
  left: -70px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
}

.label-text {
  position: absolute;
  width: 200px;
  left: -130px;
}

.toggle {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  background-color: white;
  -webkit-box-shadow: 18px 21px 78px -43px rgba(0,0,0,0.68);
  -moz-box-shadow: 18px 21px 78px -43px rgba(0,0,0,0.68);
  box-shadow: 18px 21px 78px -43px rgba(0,0,0,0.68);
}

.toggle-state {
  display: none;
}

.indicator {
  height: 100%;
  width: 200%;
  background: #e73d3d;
  border-radius: 15px;
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6;
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
  background-color: rgb(44, 202, 97);
}

/* Comparator */
.comparison-box {
  display: flex;
  flex-wrap: wrap row;
  max-width: 700px;
}

.comparison-box > div {
  position: relative;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 5px;
  margin: 10px 10px 0 0;
  border-radius: 5px;
  height: 200px;
  max-width: 220px;
}

.comparison-box > div > .avatar {
  position: absolute;
  top: 5px;
  right: 5px;
}

.comparison-box > div > strong {
  display: inline-block;
  font-weight: bold;
  max-width: 130px;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 10px;
}

.comparison-box > div > p {
  font-size: 14px;
  margin-bottom: 7px;
}